.App {
  text-align: center;
}

#techo{
  color: rgb(224, 158, 255);
}

#textoTecho{
  padding-left: 380px;
  padding-right: 380px;
}

#cuadrito1{
  margin: 0%;
  border: 90px solid #ffffff;
  background-color: aqua;
  border-radius: 100px;
}

#cuadrito2{
  margin: 0%;
  border: 90px solid #ffffff;
  background-color: rgb(184, 73, 0);
  border-radius: 100px;
}
#cuadrito3{
  margin: 0%;
  border: 90px solid #ffffff;
  background-color: rgb(255, 241, 52);
  border-radius: 100px;
}

#fotico{
  height: 180px;
  border-radius: 100px;
}

#textito{
  font-size: 20px;
  padding-right: 150px;
}